body {
    background:#000;
    font-family:"Avenir Next";
    animation-name:overallEffect;
    animation-duration:30s;
    animation-iteration-count:infinite
}

p {
    padding-top:6px;
    -webkit-margin-before:.3em;
    -webkit-margin-after:.4em;
    font:.6em/.8em sans-serif
}

small {
    font:.28em sans-serif
}

.extra-small {
    font-size:.04em
}

.poster-title {
    font-weight:700
}

.poster-advise {
    line-height:1em
}

.t-center {
    text-align:center
}

.blue {
    background-color:#166bff
}

.contairer {
    width:496px;
    margin:50px auto;
    display:flex;
    flex-direction:column
}

.top-wrapper {
    order:0;
    flex:1 1 auto
}

.top-border {
    order:1;
    width:100%;
    height:8px;
    z-index:1;
    border:4px solid #000
}

.top-common {
    width:98%;
    z-index:100;
    margin-left:1%;
    border-left:4px solid #000;
    border-right:4px solid #000;
    border-bottom:2px solid #0b319b
}

.top-frontpanel {
    order:2;
    height:40px;
    margin-top:-4px
}

.top-frontpanel-down {
    order:3;
    height:32px
}

.top-border-down {
    position:relative;
    width:100%;
    height:8px;
    margin-top:-4px;
    border:4px solid #000
}

.middle {
    order:1;
    display:flex;
    flex-direction:row;
    width:100%;
    height:760px
}

.side-out {
    flex-grow:5;
    z-index:300
}

.side-left-out {
    border-left:4px solid #000;
    margin-left:8px
}

.side-right-out {
    border-right:4px solid #000
}

.side-in {
    flex-grow:2;
    z-index:300
}

.side-left-in {
    border-left:2px solid #0b319b;
    margin-left:-4px
}

.side-right-in {
    border-right:2px solid #0b319b
}

.outer-line-side {
    border-left:2px solid #0b319b;
    border-right:2px solid #0b319b
}

.panel-wrapper {
    order:1;
    flex-grow:1;
    display:flex;
    flex-direction:row;
    align-items:center;
    z-index:300
}

.doors-wrapper {
    order:2;
    flex-grow:20;
    display:flex;
    flex-direction:row;
    z-index:300
}

.police-panel-outer {
    width:96%;
    background:#000;
    border-radius:4px;
    margin:0 1%;
    padding:4px
}

.police-panel-white {
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    background:#000;
    border:4px solid #fff;
    border-radius:2px
}

.police-txt {
    flex:1 1 auto;
    width:33%;
    margin:5px;
    font-weight:500;
    line-height:1.2em;
    color:#fff;
    text-align:center
}

.police-txt-mid {
    margin-top:8px
}

.front-wrapper {
    flex-grow:17;
    display:flex;
    flex-direction:column
}

.doors {
    flex:2 1 47%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    border-top:4px solid #082575
}

.left-door {
    border-left:3px;
    border-right:4px
}

.doors-middle-space {
    flex:1 1 auto;
    border-left:4px solid #082575;
    border-right:4px solid #082575
}

.right-door {
    border-left:4px;
    border-right:3px
}

.door-window {
    height:20%;
    margin:18px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
    border:4px inset #0b319b
}

.door-subpanel {
    order:1;
    height:20%;
    margin:18px;
    border:6px inset #0b319b;
    text-align:center
}

.window-glass {
    width:28%;
    height:42%;
    margin:auto;
    background:#fff;
    border:2px solid #0b319b;
    animation-name:glassEffect;
    animation-delay:3s;
    animation-duration:3s;
    animation-iteration-count:infinite
}

.door-poster {
    width:92%;
    height:92%;
    margin:4px auto;
    background:#fff1d9
}

.door-buttons {
    position:relative;
    z-index:9999;
    width:12px;
    height:17px;
    background:#0b319b;
    border-radius:50%;
    border:2px solid #afc8ff;
    top:25.5%
}

.door-button-right {
    left:3.5%
}

.door-button-left {
    left:88.5%
}

.floor-upside {
    order:2;
    margin:-1px -2px -1px 3px;
    border:4px solid #000;
    border-bottom:2px solid #000;
    height:17px;
    transform-origin:center;
    transform:perspective(152px) rotateX(-313deg) translateZ(6px)
}

.floor-front {
    order:3;
    height:30px;
    margin-top:-5px;
    transform:perspective(160px) translateZ(13px);
    border:4px #000;
    border-top:2px #000;
    border-style:solid
}

@keyframes glassEffect {
    0% {
        background:#fff1d9;
        box-shadow:0 0 0 #fff1d9
    }

    100% {
        background:#ffb157;
        box-shadow:0 0 120px #ff0035
    }
}

@keyframes overallEffect {
    0% {
        background:#000
    }

    50% {
        background:#8f8f8f
    }

    100% {
        background:#000
    }
}